# Ignore build artifacts
/dist
/node_modules
/packages/*/dist
/packages/*/node_modules

# Ignore IDE specific files
.vscode
.idea

# Ignore environment files
.env
.env.local

# Ignore debug logs
*.log

# Ignore TypeScript build info
*.tsbuildinfo
